{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>Operation</th>
                <th>Symbol</th>
                <th>Price</th>
                <th>Shares</th>
                <th>Date and time</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
                <tr>
                    <td>{{ stock['operation'] }}</td>
                    <td>{{ stock['symbol'] }}</td>
                    <td>{{ stock['price'] | usd}}</td>
                    <td>{{ stock['shares'] }}</td>
                    <td>{{ stock['date'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}