{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock %}

{% block main %}
    <form action="/password" method="post">
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="new_password" placeholder="New password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Confirmation" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change password</button>
    </form>
{% endblock %}